:root {
    --pageBG: #080808;
    --sideColor: #1b1b1b;
    --boxColor: #efefef;
    --valid: #1cad26;
    --error: #e21738;   
    --btnColor: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    background-color: var(--pageBG);
}

main {
    min-height: 100vh;
    display: flex;
}

.lang-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: clamp(100px, 15vw, 300px);
    background-color: var(--sideColor);
}

.languages {
    width: clamp(50px, 80%, 150px);
}

.btn-check {
    width: clamp(50px, 80%, 150px);
    border: none;
    padding: 1em;
    background-color: var(--btnColor);
}

.btn-check:hover {
    cursor: pointer;
    color: var(--btnColor);
    background-color: var(--pageBG);
}

.btn-reject {
    width: clamp(50px, 80%, 150px);
    border: none;
    padding: 1em;
    background-color: var(--btnColor);
}

.btn-reject:hover {
    cursor: pointer;
    color: var(--btnColor);
    background-color: var(--pageBG);
}

.boxes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 85vw;
}

.boxes {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 200px;
    height: clamp(50px, 20%, 200px);
    margin: 5px;
    background-color: var(--boxColor);
    overflow: hidden;
}

.hovered {
    background-color: transparent;
    border: 5px dashed var(--sideColor);
    color: var(--darkGrey);
}

.valid {
    background-color: var(--valid);
}

.error {
    background-color: var(--error);
}

.full code {
    display: none;
}

/* Eléments à l'intérieur des box */

.boxes img {
    width: auto;
    height: 80%;
}

code {
    user-select: none;
    position: absolute;
    font-size: 1.2em;
}